html, body, .container-main {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  padding-top: 50px;
  background-color: #fefefe;
}

.dashboard, .dashboard-col {
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.dashboard-col {
  border-right: 0;
  border-bottom: 0;
  padding-top: 40px;
}

.dashboard-col .panel-heading {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.dashboard-col:first-child {
  border-left: 0;
}

.dashboard .list-group {
  border-radius: 0;
  height: 100%;
  overflow: auto;
}

.dashboard .list-group-item {
  border-radius: 0 !important;
  cursor: pointer;
  border: 1px solid #e9e9e9;
}

.navbar-brand {
  padding: 8px;
}

.list-group-item-heading {
  font-size: 16px;
}

.term {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.panel-auth {
  width: 500px;
  margin: 100px auto;
}