<div class="panel-heading text-uppercase">
  <i class="fa fa-terminal" aria-hidden="true"></i>
  <%= $.locale.console() %>
  <a class="pull-right" data-pjax-container="#panel-left,#panel-center,#panel-right" href="/projects/<%= this.projectName %>/jobs/<%= this.jobName %>">
  <i class="fa fa-reply" aria-hidden="true" id="btn-back"></i>
  <%= $.locale.back() %>
  </a>
</div>
<div class="panel-body console-wraper">
  <% var record = this.record; %>
  <div class="list-group current-info" id="current-info">
    <div class="list-group-item" data-pjax-container="#panel-left,#panel-center,#current-info" href="/projects/<%= this.projectName %>/jobs/<%= this.jobName %>/records/<%= record.sn %>">
      <h4 class="list-group-item-heading">
        # <%= record.sn %> 
        <i class="fa <%= $.statusIcons[record.status] %> pull-right" aria-hidden="true"></i>
        <% if(record.status == 300){ %>
        <i class="fa fa-play-circle pull-right" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%= $.locale.rerun() %>" data-rerun="/api/projects/<%= this.projectName %>/jobs/<%= this.jobName %>/records/<%= record.sn %>/rerun"></i>
        <% } %>
      </h4>
      <div class="list-group-item-text" style="padding:5px 0">
        <%= record.summary || '-' %>
      </div>
      <div class="list-group-item-text">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <%= $.formatDate(record.beginTime,'MM-dd hh:mm:ss') %> - 
        <%= $.formatDate(record.endTime,'MM-dd hh:mm:ss') %>
      </div>
    </div>
  </div>
  <pre class="console"><%= this.record.out %></pre>
</div>