<% $.master("./master.html") %> 

<% $.placeBegin("head") %>
<title>
  <%= $.locale.dashborad() %> - <%= $.server.ci.pkg.name.toUpperCase() %>
</title>
<% $.placeEnd() %>

<% $.placeBegin("content") %>
<div class="row dashboard">
  <div class="col-md-2 panel panel-default dashboard-col">
    <div class="panel-heading text-uppercase">
      <i class="fa fa-archive" aria-hidden="true"></i>
      <%= $.locale.projects() %>
    </div>
    <div class="list-group" id="project-list">
      <% $.each(this.projects,function(name, project){ %>
      <a class="list-group-item <%= name==this.projectName?'active':'' %>" href="/<%= name %>" data-pjax-container="#project-list,#job-list,#record-list">
        <h4 class="list-group-item-heading"><%= name %></h4>
        <div class="list-group-item-text">Build: #105</div>
      </a>
      <% }.bind(this)) %>
    </div>
  </div>
  <div class="col-md-3 panel panel-default dashboard-col">
    <div class="panel-heading text-uppercase">
      <i class="fa fa-tasks" aria-hidden="true"></i>
      <%= $.locale.jobs() %>
    </div>
    <div class="list-group" id="job-list">
      <% $.each(this.jobs,function(name, job){ %>
      <a class="list-group-item <%= name==this.jobName?'active':'' %>" href="/<%= this.projectName %>/<%= name %>" data-pjax-container="#job-list,#record-list">
        <h4 class="list-group-item-heading"><%= name %></h4>
        <div class="list-group-item-text">Build: #105</div>
      </a>
      <% }.bind(this)) %>
    </div>
  </div>
  <div class="col-md-7 panel panel-default dashboard-col">
    <div class="panel-heading text-uppercase">
      <i class="fa fa-history" aria-hidden="true"></i>
      <%= $.locale.records() %>
    </div>
    <div class="list-group" id="record-list">
      <% $.include('./record.html') %>
    </div>
  </div>
</div>
<% $.placeEnd() %>