<% $.master("./master.html") %> 

<% $.placeBegin("head") %>
<title>
  <%= $.locale.dashborad() %> | <%= $.server.ci.pkg.name.toUpperCase() %>
</title>
<% $.placeEnd() %>

<% $.placeBegin("content") %>
<div class="row dashboard">
  <div class="col-md-2 panel panel-default dashboard-col">
    <div class="panel-heading text-uppercase">
      <i class="fa fa-archive" aria-hidden="true"></i>
      <%= $.locale.projects() %>
    </div>
    <div class="list-group">
      <% $.each(this.projects,function(name, project){ %>
      <a class="list-group-item <%= name==this.projectName?'active':'' %>" href="/<%= name %>">
        <h4 class="list-group-item-heading"><%= name %></h4>
        <div class="list-group-item-text">Build: #105</div>
      </a>
      <% }.bind(this)) %>
    </div>
  </div>
  <div class="col-md-3 panel panel-default dashboard-col">
    <div class="panel-heading text-uppercase">
      <i class="fa fa-tasks" aria-hidden="true"></i>
      <%= $.locale.jobs() %>
    </div>
    <div class="list-group">
      <% $.each(this.jobs,function(name, job){ %>
      <a class="list-group-item <%= name==this.jobName?'active':'' %>" href="/<%= this.projectName %>/<%= name %>">
        <h4 class="list-group-item-heading"><%= name %></h4>
        <div class="list-group-item-text">Build: #105</div>
      </a>
      <% }.bind(this)) %>
    </div>
  </div>
  <div class="col-md-7 panel panel-default dashboard-col">
    <div class="panel-heading text-uppercase">
      <i class="fa fa-history" aria-hidden="true"></i>
      <%= $.locale.records() %>
    </div>
    <div class="list-group">
      <% $.each(this.records,function(index, record){ %>
      <a class="list-group-item">
        <h4 class="list-group-item-heading">
          # <%= record.sn %> 
          <% if(record.status == 300){ %>
          <i class="fa fa-times-circle pull-right" aria-hidden="true"></i>
          <% } else if(record.status == 200){ %>
          <i class="fa fa-check-circle pull-right" aria-hidden="true"></i>
          <% } else { %>
          <i class="fa fa-spinner fa-spin fa-fw pull-right" aria-hidden="true"></i>
          <% } %>
        </h4>
        <div class="list-group-item-text" style="padding:5px 0">
          <%= record.summary || '-' %>
        </div>
        <div class="list-group-item-text">
          <i class="fa fa-terminal pull-right" aria-hidden="true"></i>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= $.formatDate(record.beginTime,'MM-dd hh:mm:ss') %> - 
          <%= $.formatDate(record.endTime,'MM-dd hh:mm:ss') %>
        </div>
      </a>
      <% }.bind(this)) %>
    </div>
  </div>
</div>
<% $.placeEnd() %>