<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes" />
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/favicons/manifest.json">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/pjax/pjax.min.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <% $.placeHolder('head') %>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="navbar-brand" src="/images/logo.png">
        <sub class="version"><%= $.server.ci.pkg.version %></sub>
        <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right text-uppercase">
          <li>
            <a href="https://github.com/Houfeng/cize" target="_blank">
              <i class="fa fa-home" aria-hidden="true"></i>
              <%= $.locale.home() %>
            </a>
          </li>
          <li>
            <a href="https://github.com/Houfeng/cize/wiki" target="_blank">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              <%= $.locale.document() %>
            </a>
          </li>
          <% if($.context.user){ %>
          <li>
            <a class="clickable" data-toggle="modal" data-target="#setting">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <%= $.locale.setting() %>
            </a>
          </li>
          <li>
            <a href="/auth/logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <%= $.locale.exit() %>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid container-main">
    <% $.placeHolder('content') %>
  </div>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/pjax/pjax.min.js"></script>
  <script src="/js-yaml/js-yaml.min.js"></script>
  <script>
    pjax.progress.configure({ showSpinner: false });
  </script>
  <% $.placeHolder('foot') %>
</body>

</html>