<div class="panel-heading text-uppercase">
  <i class="fa fa-history" aria-hidden="true"></i>
  <%= $.locale.records() %>
  <a class="pull-right clickable" data-toggle="modal" data-target="#trigger">
  <i class="fa fa-crosshairs" aria-hidden="true"></i>
  <%= $.locale.trigger() %>
  </a>
</div>
<div class="list-group">
  <% $.each(this.records,function(index, record){ %>
  <a class="list-group-item" data-pjax-container="#panel-left,#panel-center,#panel-right" href="/p/<%= this.projectName %>/<%= this.jobName %>/<%= record.sn %>">
    <h4 class="list-group-item-heading">
      # <%= record.sn %> 
      <% if(record.status == 300){ %>
      <i class="fa fa-exclamation-circle pull-right" aria-hidden="true"></i>
      <i class="fa fa-play-circle pull-right" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%= $.locale.rerun() %>" data-rerun="/p/<%= this.projectName %>/<%= this.jobName %>/<%= record.sn %>/rerun"></i>
      <% } else if(record.status == 200){ %>
      <i class="fa fa-check-circle pull-right" aria-hidden="true"></i>
      <% } else { %>
      <i class="fa fa-spinner fa-spin fa-fw pull-right" aria-hidden="true"></i>
      <% } %>
    </h4>
    <div class="list-group-item-text" style="padding:5px 0">
      <%= record.summary || '-' %>
    </div>
    <div class="list-group-item-text">
      <i class="fa fa-terminal pull-right" aria-hidden="true"></i>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <%= $.formatDate(record.beginTime,'MM-dd hh:mm:ss') %> - 
      <%= $.formatDate(record.endTime,'MM-dd hh:mm:ss') %>
    </div>
  </a>
  <% }.bind(this)) %>
</div>