<div id="trigger" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-uppercase">
          <%= $.locale.trigger() %>
        </h4>
      </div>
      <div class="modal-body">
        <textarea class="form-control params" rows="8" placeholder="<%= $.locale.params_format() %>"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default text-uppercase" data-dismiss="modal"><%= $.locale.cancel() %></button>
        <button type="button" class="btn btn-primary text-uppercase"><%= $.locale.confirm() %></button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->